.button {
  background-color: rgb(16, 3, 139);
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  display: block;
}

.button:disabled {
  background-color: gray;
}
.button:hover {
  box-shadow: 2px 2px 10px 2px blue;
}
