.link {
  color: white;
  list-style: none;
}
.link:hover {
  text-decoration: underline;
}
.list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 30px;
}
